.div-one{
    height: 200px;
    width: 300px;
    background-color: navajowhite;

}

@media screen and (min-width: 500px) and (max-width: 800px) {
    body{
        background-color: red;
    }

}

@media screen and (min-width: 1000px) {
    body{
        background-color: green;
    }

}

@media screen and (min-width: 250px) and (max-width: 450px) {
    body{
        background-color: blue;
    }

}